.lesson-popup-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 5;
  transition: background-color 0.5s, backdrop-filter 0.5s;

  .popup-hide-area {
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  .popup-window {
    z-index: 3;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--bg-dark);
    // min-width: max-content;
    max-width: 90%;
    box-sizing: border-box;
    position: fixed;
    transform-origin: center;
    opacity: 0;

    .close {
      background: transparent;
      width: 1.5em;
      aspect-ratio: 1;
      padding: 0;
      border: none;
      margin: 0;
      font-weight: 400;
      font-size: 1.5em;
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      cursor: pointer;
      color: var(--font-gray);
    }

    .head {
      margin-bottom: 2rem;
      // font-weight: 600;

      .name {
        font-size: 2rem;
      }

      .time {
        font-size: 2rem;
      }

      .place {
        display: flex;
        flex-direction: row;
        gap: 5ch;

        .classroom {
          position: relative;

          &::after {
            content: "//";
            position: absolute;
            right: -3ch;
          }
        }

        .building {
          color: var(--font-gray);
          font-weight: 200;
        }
      }
    }

    .data {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .row {
        display: grid;
        position: relative;
        gap: 2rem;
        grid-template-columns: 1fr 2fr;

        *:first-child {
          font-weight: 300;
          color: var(--font-gray);
        }

        * {
          padding-block: 0.5em;
        }
      }

      .row::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -7px;
        background-color: var(--border-color);
        height: 1px;
      }

      .row:last-child::after {
        content: none;
      }
    }
  }

  .popup-window-show {
    animation: window-appearance-animation 0.3s cubic-bezier(0.7, 0, 0.64, 0.88)
      forwards;
    display: block;
    opacity: 1;
  }

  @keyframes window-appearance-animation {
    from {
      top: var(--starting-y);
      left: var(--starting-x);
      scale: 0;
      filter: blur(3px);
    }

    to {
      top: var(--center-y);
      left: var(--center-x);
      scale: 1;
      filter: blur(0px);
    }
  }
}