.loading-screen {
    background-color: var(--bg-dark);
    width: 100%;
    height: 50svh;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    &.error svg {
        height: 8rem;
        stroke: var(--font-light);
        stroke-width: 1.5;
    }
}