.lesson-editor-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 2;
    transition: background-color 0.5s, backdrop-filter 0.5s;

    .editor-hide-area {
        position: absolute;
        inset: 0;
    }

    .editor-window {
        z-index: 3;
        padding: 2rem;
        border-radius: 1rem;
        background-color: var(--bg-neutral);
        min-width: 50%;
        position: fixed;
        transform-origin: center;
        opacity: 0;
        // display: none;
        // transform: translate(calc(var(--starting-x) / var(--scale-ratio)), calc(var(--starting-y) / var(--scale-ratio)));

        .data {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .row {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
            }
        }
    }

    .editor-window-show {
        animation: window-appearance-animation 0.3s cubic-bezier(.7,0,.64,.88) forwards;
        display: block;
        opacity: 1;
    }

    @keyframes window-appearance-animation {
        from {
            top: var(--starting-y);
            left: var(--starting-x);
            scale: 0;
            filter: blur(3px);
        }

        to {
            top: var(--center-y);
            left: var(--center-x);
            scale: 1;
            filter: blur(0px);
        }
    }
}

.lesson-editor-container-filled {
    backdrop-filter: blur(3px);
    background-color: var(--bg-blackout);
}