.include-other-modules {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: var(--bg-dark);
  cursor: pointer;

  span {
    display: block;
    // overflow-wrap: break-word;
    text-wrap: nowrap;
    // max-width: 12ch;
    user-select: none;
    transition: transform 0.2s;
    line-height: 1em;
  }

  input {
    --size: 1.2rem;
  }
}
