.week-selector {
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.25rem 1rem;
    gap: 1rem;
    align-items: center;
    background-color: var(--bg-dark);
    height: 3.5rem;
    box-sizing: border-box;

    .dates {
        font-size: 2rem;
        color: var(--font-light);
    }

    .arrows {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        border-radius: 1rem;
        overflow: hidden;

        .arrow {
            font-size: 1.5rem;
            background-color: var(--bg-black);
            padding: .5rem;
            transition: scale .2s, transform .2s;
            cursor: pointer;

            &:hover {
                scale: 1.1;
                transform: translateY(-.2em);
            }
        }
    }
}