.controls {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    // grid-template-columns: max-content 1fr max-content max-content;
    margin-bottom: 1rem;
    align-items: center;
    gap: 1rem;
    align-items: stretch;
    max-width: 100svw;
    justify-content: space-between;
    position: relative;
    isolation: isolate;
    z-index: 5;
}