.calendar {
    background-color: var(--bg-dark);
    box-sizing: border-box;
    border-radius: 1rem;
    z-index: 100;
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;

    * {
        color: var(--font-light) !important;
    }
}