.sidebar {
  isolation: isolate;
  z-index: 2;

  .hamburger-react {
    z-index: 2;
    position: fixed;
  }

  .sidebar-body {
    background: var(--bg-dark);
    transition: background-color 0.2s;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    min-width: 300px;
    left: -100%;
    z-index: 1;
    padding: 1rem;
    padding-top: 8rem;

    .module-list-title {
      text-align: center;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    .module-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .module-list-item {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: background-color 100ms;
        user-select: none;

        &:hover {
            background-color: var(--bg-neutral);
        }

        input {
            width: 1.5rem;
            cursor: pointer;

            &::after {
            }
        }
      }
    }

    .theme-switcher {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
  }

  &[aria-expanded="true"] .sidebar-body {
    animation: anim-expand-sidebar 300ms ease forwards;
  }

  @keyframes anim-expand-sidebar {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }

  .background {
    position: fixed;
    z-index: 0;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
  }
}
