.sidebar {
  isolation: isolate;
  z-index: 2;
  position: relative;

  .sidebar-toggle {
    z-index: 3;
  }

  .sidebar-body {
    background: var(--bg-black);
    transition: background-color 0.2s;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    min-width: 300px;
    left: -100%;
    z-index: 2;
    padding: 1rem;
    padding-top: 8rem;

    .theme-switcher {
      position: absolute;
      top: 16px;
      right: 1rem;
    }
  }

  &[aria-expanded="true"] .sidebar-body {
    animation: anim-expand-sidebar 300ms ease forwards;
  }

  @keyframes anim-expand-sidebar {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }

  .blackout {
    position: fixed;
    z-index: 0;
    inset: 0;
  }
}
