@mixin common_colors {
  --sun: #ffd166;
  --moon: #118ab2;
  --clr-1: #480ca8;
  --clr-2: #3a0ca3;
  --clr-3: #3f37c9;
  --clr-4: #4361ee;
  --clr-5: #4895ef;
  --bg-blackout: rgba(0, 0, 0, 0.4);
  --clr-accent: #0466c8;
  --clr-accent-secondary: #1c8eff;
  --clr-green: rgb(0, 160, 0);
  --clr-green-secondary: rgb(9, 196, 9);
  --clr-neon: #24c9f7;
}

@mixin dark_colors {
  --bg-black: #1d1d1d;
  --bg-dark: rgb(13, 17, 23);
  --bg-neutral: rgb(22, 27, 34);
  --bg-light: #f6f6f6;
  --font-dark: rgb(1, 4, 9);
  --font-light: #f6f6f6;
  --font-gray: rgb(196, 202, 208);
  --border-color: rgb(48, 54, 61);
  --bg-lec: #2c5a27;
  --bg-sem: #23508c;
  --bg-test: #c57e1b;
  --bg-exam: #ac241b;
  --bg-total-black: #000;
}

@mixin light_colors {
  --bg-black: #ffffff;
  --bg-dark: rgb(245, 249, 255);
  --bg-neutral: rgb(234, 242, 255);
  --bg-light: #181818;
  --font-dark: #f6f6f6;
  --font-light: rgb(1, 4, 9);
  --font-gray: rgb(77, 79, 81);
  --border-color: rgb(143, 164, 189);
  --bg-lec: #6cbf64;
  --bg-sem: #739acc;
  --bg-test: #f2b933;
  --bg-exam: #f37f76;
  --bg-total-black: #fff;
}

:root {
  @include common_colors();
  font-size: 14px;
  font-size: clamp(9px, 1.25vw, 14px);
}

:root[data-theme="dark"] {
  @include dark_colors();
}

:root[data-theme="light"] {
  @include light_colors();
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark_colors();
  }
}

@media (prefers-color-scheme: light) {
  :root {
    @include light_colors();
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-black);
  color: var(--font-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@mixin border {
  border: 1px solid var(--border-color);
}

.border {
  @include border();
}

.bottom-line {
  position: relative;
}

.bottom-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--border-color);
}

.line {
  height: 1px;
  background-color: var(--border-color);
  width: 100%;
}

.input {
  font-size: 1rem;
  width: 70%;
  padding: 0.5rem;
  border: none;
  background-color: var(--bg-total-black);
  border-radius: 0.5rem;
  transition: background-color 0.5s, outline-width 0.1s;
  outline: 0px solid var(--additional-color);
  color: var(--font-light);
  box-sizing: border-box;
}

input:read-write:hover,
input:read-write:focus-visible {
  outline: 5px solid var(--border-color);
}

input:read-only {
  cursor: default;
  background-color: var(--bg-neutral);
}

input:read-only:focus {
  outline: none;
}

.button {
  background-color: var(--clr-accent);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--font-light);
  line-height: normal;
  transition: background-color 0.3s, scale 0.3s;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-accent-secondary);
  scale: 1.05;
  outline: 0;
}

.green {
  background-color: var(--clr-green);
}

.green:hover,
.green:focus-visible {
  background-color: rgb(9, 196, 9);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background-color: var(--bg-dark);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: var(--bg-dark);
  background-clip: content-box;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  border: 3px solid var(--border-color);
  outline: 2px solid var(--bg-black);
  outline-offset: -2px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-black);
  border-radius: 100px;
}

::-webkit-scrollbar-corner {
  background-color: var(--bg-black);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--font-light);
}

input[type="checkbox"] {
  --size: 1rem;
  height: var(--size);
  width: var(--size);
  aspect-ratio: 1;
  // height: 50%;
  margin: 0;
  transition: transform 0.2s;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: calc(var(--size) / 10) solid var(--font-light);
  border-radius: 0.2rem;
  // display: grid;
  position: relative;
  // place-content: center;

  &::before {
    content: "";
    scale: 0;
    inset: 10%;
    position: absolute;
    transform-origin: center;
    background-color: var(--clr-accent-secondary);
    border-radius: calc(0.2rem / 2);
    transition: scale 0.1s ease-in-out;
  }

  &:checked::before {
    scale: 1;
  }
}

@mixin hover_effect {
  transition: background-color 100ms;

  &:hover,
  &:focus-visible {
    background-color: var(--bg-neutral) !important;
  }
}

.hover {
  @include hover_effect();
}

button,
.btn {
  -webkit-tap-highlight-color: transparent;
  @include border();
  @include hover_effect();
  font-size: 1em;
  margin: 0;
  padding: 0.5em;
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--bg-dark);
  color: var(--font-light);
}

label:has(input[type="checkbox"]) {
  @include hover_effect();
}

.blackout {
  background-color: var(--bg-blackout);
  // backdrop-filter: blur(1px);
  -webkit-tap-highlight-color: transparent;
}
