.module-choicer--mobile {
  height: 100%;
  display: none;
  aspect-ratio: 1;

  .expand-button {
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--bg-dark);
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    overflow: hidden;

    & .hamburger {
      transition: translate 1s, rotate 1s;
    }

    &[aria-expanded="true"] .hamburger {
      translate: 2px -2px;
      rotate: 0.125turn;
    }

    & .line {
      transition: 1s;
      stroke-dasharray: 60 31 60 300;
    }

    &[aria-expanded="true"] .line {
      stroke-dasharray: 60 105 60 300;
      stroke-dashoffset: -90;
    }
  }
}

.module-choicer--mobile[data-expanded="true"] {
  position: absolute;
  inset: 0;
  background-color: var(--bg-dark);
  width: 100%;
  border-radius: 1rem;
  z-index: 1000;
  
  .expand-button {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .module-choicer {
    display: none;
  }

  .module-choicer--mobile {
    display: grid;
  }
}
